# Dependencies
node_modules
*/node_modules
**/node_modules

# Build artifacts
dist
*/dist
dist-ssr
*.local

# Environment variables (Protect secrets)
.env
*.env
!.env.example
!*/.env.example

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor & OS files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
Thumbs.db
